html,body{  
            height: 100% !important;  
        }
        #app,.com-app{
            height: 100% !important;  
            margin: 0 auto;
        }
        .selfAdaptionWrap{
            display: flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:center;
            align-items:center;
        }
        .fontSizeSmall{
            font-size: 14px;
        }
        .colorRed{
            color: #ff150e;
        }
        .colorOrange{
          color: #FF7800;
        }
        .colorLightBlack{
            color: #6d7380;
        }
        .lightBlue{
          background-color: #F3F8FE;
        }
        .ivu-menu-horizontal.ivu-menu-light:after{
            height: 0px !important;
        }
        .marginT_10{
            margin-top: 10px;
        }
        .marginT_20{
            margin-top: 20px;
        }
        .TextCenter{
            text-align: center;
        }
        .TextLeft{
            text-align: left;
        }
        .TextRight{
            text-align: right;
        }
        .textIndent{
            text-indent:20px;
        }
        .colorGray{
          color: #989898;
        }
        .marginTB_10{
            margin: 10px auto;
        }
        .marginTB_20{
            margin: 20px auto;
        }
        .marginB_20{
            margin-bottom: 20px;
        }
        .marginT_20{
            margin-top: 20px;
        }
        .marginTB_40{
            margin: 40px auto;
        }
        .marginL_20{
            margin-left: 20px;
        }
        .marginR_10{
            margin-right: 10px;
        }
        .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
            padding: 10px 4px !important;
            text-align: center;
        }
        .ivu-card-body{
            margin-top: 20px;
            /*padding: 0px !important;*/
        }